<div class="section-box resolve">
    <div class="section-inr">

        <div class="box-but">
            <div class="back-but"><span>Getting Around</span></div>
        </div>

        <div class="resolve-box">

            <div class="box">
                <p>Ompalo is built for you. In order for us to serve you better and coming up with new
                    content every day, you are required to have an account with Ompalo. You can choose to
                    sign in either with your Google or Facebook account. Alternatively, you can also sign in
                    with your email address and password.</p>
            </div>

        </div>

    </div>
</div>