<!--Slider three demo-->
<div class="fs-section is-exaple">

    <div class="fs-title">
        <h2>Example slide</h2>
    </div>

    <swiper class="fs-slide-three swiper-container" [config]="config">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="item-slide">
                    <div class="fs-area-bg cmBg fs-lazy" data-src="../../../assets/images/banner1.jpg"></div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="item-slide">
                    <div class="fs-area-bg cmBg fs-lazy" data-src="../../../assets/images/banner2.jpg"></div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="item-slide">
                    <div class="fs-area-bg cmBg fs-lazy" data-src="../../../assets/images/banner3.jpg"></div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="item-slide">
                    <div class="fs-area-bg cmBg fs-lazy" data-src="../../../assets/images/banner4.jpg"></div>
                </div>
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </swiper>
</div>
<!--/Slider three demo-->