<div class="overlay-popup" [ngClass]="isShowPopUp?'active':''">

    <div class="wrap-popup-content">
        <div class="overlay-inr signin-overlay" [ngClass]="!isSignIn?'hide':''">

            <div class="title">
                <h2>Sign in</h2>
            </div>

            <div class="box">
                <span class="caption">Email</span>
                <div class="form-group">
                    <input type="text" id="txtSignInUserName" placeholder="Input your email..." />
                </div>
            </div>

            <div class="box">
                <span class="caption">Password</span>
                <div class="form-group">
                    <input type="password" id="txtSignInPassword" placeholder="Input your password...">
                </div>
            </div>

            <div class="box-but">
                <div class="btn btnLogin" id="btnLogin" (click)="showTaxCode()"><span>Sign In</span>
                </div>
            </div>
        </div>

        <div class="overlay-inr taxcode-overlay" [ngClass]="!isTaxCode?'hide':''">

            <div class="title">
                <h2>Tax Code</h2>
            </div>

            <div class="box">
                <span class="caption">Code</span>
                <div class="form-group">
                    <input type="text" id="txtTax" placeholder="Input Tax Code"/>
                </div>
            </div>

            <div class="box-but">
                <div class="btn btnSignUp" id="btnSignUp">
                    <span>Enter</span>
                </div>
            </div>

        </div>

    </div>

</div>