  <!--Popup-->
  <div class="fs-overlay">
    <div class="fs-close-overlay">Close overlay popup</div>
    <div class="fs-overlay-inr">
        <div class="fs-form">
            <form id="fs_form_register" class="fs_form_register">

                <div class="fs-group">
                    <div class="fs-error-txt">
                        <p>Vui lòng kiểm tra lại dữ liệu</p>
                    </div>
                    <input type="text" name="fs_txt_username" id="fs_txt_username" placeholder="Họ và tên*"
                        value="">
                </div>

                <div class="fs-group">
                    <div class="fs-error-txt">
                        <p>Vui lòng kiểm tra lại dữ liệu</p>
                    </div>
                    <input type="password" name="fs_txt_password" id="fs_txt_password" placeholder="Mật khẩu*"
                        value="">
                </div>

                <div class="fs-group">
                    <div class="fs-box-but">
                        <button type="button" name="fs_btn_register" id="fs_btn_register"
                            class="fs-btn"><span>Đăng nhập</span></button>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>
<!--/Popup-->