<div class="cnt-wrap">

    <!--Header-->
    <div class="header">
        <div class="header-inr">
            <div class="logo">
                <a><img draggable="false" src="assets/images/hdr-logo-ompalo.png" alt="ompalo">
                </a>
            </div>
            <div class="navigation">
                <div class="nav">
                    <ul>
                        <li><a href="javascript:void(0);">Home</a></li>
                        <li><a href="javascript:void(0);">Menu</a></li>
                        <li><a href="javascript:void(0);">Getting Around</a></li>
                        <li><a href="javascript:void(0);">About Us</a></li>
                        <li><a href="javascript:void(0);">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--/Header-->

    <!--Content-->
    <div class="cnt-inr">

        <!--Side-->
        <div class="main">
            <div class="main-inr">
                <router-outlet></router-outlet>
            </div>

        </div>
        <!--/Main-->

    </div>
    <!--/Content-->
    <!--popup-->


    <div class="goTop" (click)="goTop()"></div>

</div>