<div class="cnt-wrap">

    <!--Header-->
    <div class="header">
        <div class="header-inr">
            <div class="nav-but" (click)="OpenMemu();">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="logo">
                <a href="javascript:void(0);"><img draggable="false" src="assets/images/hdr-logo-ompalo.png" alt="ompalo"></a>
            </div>
            <div class="navigation" [ngClass]="(isMenu)?'active':''"> 
                <div class="nav">
                    <ul>
                        <li><a href="javascript:void(0);">Home</a></li>
                        <li class="has-sub">
                            <a href="javascript:void(0);" (click)="ShowSubMenu(1);">Menu</a>
                        <ul class="sub-menu" [ngClass]="isSubmenu==1?'active':''">
                            <li><a href="javascript:void(0);"><span>Lorem</span></a></li>
                            <li><a href="javascript:void(0);"><span>Lorem</span></a></li>
                            <li><a href="javascript:void(0);"><span>Lorem</span></a></li>
                            <li><a href="javascript:void(0);"><span>Lorem</span></a></li>
                            <li><a href="javascript:void(0);"><span>Lorem</span></a></li>
                        </ul>
                        </li>
                        <li><a href="javascript:void(0);">Getting Around</a></li>
                        <li><a href="javascript:void(0);">About Us</a></li>
                        <li class="has-sub">
                            <a href="javascript:void(0);" (click)="ShowSubMenu(2);">Contact Us</a>
                            <ul class="sub-menu" [ngClass]="isSubmenu==2?'active':''">
                                <li><a href="javascript:void(0);"><span>Lorem 2</span></a></li>
                                <li><a href="javascript:void(0);"><span>Lorem 2</span></a></li>
                                <li><a href="javascript:void(0);"><span>Lorem 2</span></a></li>
                                <li><a href="javascript:void(0);"><span>Lorem 2</span></a></li>
                                <li><a href="javascript:void(0);"><span>Lorem 2</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!--/Header-->

    <!--Content-->
    <div class="cnt-inr">

        <!--Side-->
        <div class="main" [ngClass]="(isMenu)?'active':''">
            <router-outlet></router-outlet>
        </div>
        <!--/Main-->

    </div>
    <!--/Content-->
    <!--popup-->


    <div class="goTop" (click)="goTop()"></div>

</div>