 <!--Slider full demo-->
 <div class="fs-section">

    <swiper class="fs-slide-full swiper-container" [config]="config">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="item-slide fs-bg cmBg fs-lazy" data-src="../../../assets/images/banner1.jpg"></div>
            </div>
            <div class="swiper-slide">
                <div class="item-slide fs-bg cmBg fs-lazy" data-src="../../../assets/images/banner2.jpg"></div>
            </div>
            <div class="swiper-slide">
                <div class="item-slide fs-bg cmBg fs-lazy" data-src="../../../assets/images/banner3.jpg"></div>
            </div>
            <div class="swiper-slide">
                <div class="item-slide fs-bg cmBg fs-lazy" data-src="../../../assets/images/banner4.jpg"></div>
            </div>
        </div>
    </swiper>

</div>
<!--/Slider full demo-->
